{% extends "app/layout.html" %} {% block content %} {% load static %}
<main style="padding-bottom: 40px">
  <h2 class="title" id="games">Demo's not usable on Mobile.</h2>
  <div class="games">
    <a href="game1">
      <div class="game-list">
        <img
          src="{% static 'app/img/KSG_logo.png' %}"
          alt=""
          style="width: 100px; height: 100px"
        />
        <h3>PiQum</h3>
        <p></p>
      </div>
    </a>
    <a href="game2">
      <div class="game-list">
        <img
          src="{% static 'app/img/KSG_logo.png' %}"
          alt="n"
          style="width: 100px; height: 100px"
        />
        <h3>Tripe PiQum</h3>
        <p></p>
      </div>
    </a>
    <a href="game3">
      <div class="game-list">
        <img
          src="{% static 'app/img/KSG_logo.png' %}"
          alt=""
          style="width: 100px; height: 100px"
        />
        <h3>PiQum Royale</h3>
        <p></p>
      </div>
    </a>
    <a href="game4">
      <div class="game-list">
        <img
          src="{% static 'app/img/KSG_logo.png' %}"
          alt=""
          style="width: 100px; height: 100px"
        />
        <h3>PiQum Poker</h3>
        <p></p>
      </div>
    </a>
  </div>
  <div>
    <h2 class="title">Reach out to us</h2>
    <div class="contact" id="contact" style="padding-bottom: 10px !important">
      <div class="contact-list contact-address">
        <h5>
          <span
            ><i class="fa fa-map-marker w3-xlarge w3-text-light-grey"></i></span
          >Address
        </h5>
        <p>KingSize Games, Inc.</p>
        <p>2035 Regent St.</p>
        <p>Reno, NV 89523</p>
      </div>
      <div class="contact-list">
        <h5>
          <span><i class="fa fa-phone w3-xlarge w3-text-light-grey"></i></span
          >Phone/Email
        </h5>
        <p>+1-775-513-7516</p>
        <p>bizdev@kingsizegames.com</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}